.light-mode {
  --background-color: #eeeff1;
  --secondary-color: #3f3f41;
  --text-color: rgb(26, 28, 32);
  --secondary-text-color: #62646d;
  --background-color-alpha: #eeeff1ee;
  --button-color: rgb(26, 28, 32);
  --hover: #353535;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode {
  --background-color: #0d0d0d;
  --secondary-color: #eeeff1;
  --text-color: #ffffff;
  --secondary-text-color: #dfdfdf;
  --background-color-alpha: #3f3f41ee;
  --button-color: var(--text-color);
  --hover: #cbcbcb;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 46px;

  height: 46px;

  box-sizing: border-box;

  padding: 12px;

  background: none;

  border: none;

  display: flex;

  justify-content: center;

  align-items: center;

  position: relative;
}

.sun {
  width: 50%;

  height: 50%;

  position: absolute;

  pointer-events: none;

  opacity: 0;

  transform: scale(0.6) rotate(0deg);

  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;

  /*  white transparent for Safari  */

  background: radial-gradient(
    circle,
    var(--text-color),
    rgba(0, 0, 0, 0) 50%,
    var(--text-color) 50%
  );
}

.sun:before {
  content: "";

  position: absolute;

  display: block;

  width: 100%;

  height: 100%;

  background: radial-gradient(
    circle,
    var(--text-color) 30%,
    rgba(0, 0, 0, 0) 31%,
    rgba(0, 0, 0, 0) 50%,
    var(--text-color) 50%
  );

  transform: rotate(45deg);
}

.sun.visible {
  pointer-events: auto;

  opacity: 1;

  transform: scale(1) rotate(180deg);

  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon {
  width: 50%;

  height: 50%;

  pointer-events: none;

  position: absolute;

  left: 12.5%;

  top: 18.75%;

  background-color: rgba(0, 0, 0, 0);

  border-radius: 50%;

  box-shadow: 9px 3px 0px 0px #f0f0f0;

  opacity: 0;

  transform: scale(0.3) rotate(65deg);

  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon.visible {
  pointer-events: auto;

  opacity: 1;

  transform: scale(1) rotate(0deg);

  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.star {
  position: absolute;

  top: 25%;

  left: 5%;

  display: block;

  width: 0px;

  height: 0px;

  border-right: 7px solid rgba(0, 0, 0, 0);

  border-bottom: 5px solid #f0f0f0;

  border-left: 7px solid rgba(0, 0, 0, 0);

  transform: scale(0.55) rotate(35deg);

  opacity: 0;

  transition: all 0.2s ease-in 0.4s;
}

.star:before {
  border-bottom: 5px solid #f0f0f0;

  border-left: 3px solid rgba(0, 0, 0, 0);

  border-right: 3px solid rgba(0, 0, 0, 0);

  position: absolute;

  height: 0;

  width: 0;

  top: -3px;

  left: -5px;

  display: block;

  content: "";

  transform: rotate(-35deg);
}

.star:after {
  position: absolute;

  display: block;

  color: rgb(191, 191, 191);

  top: 0px;

  left: -7px;

  width: 0px;

  height: 0px;

  border-right: 7px solid rgba(0, 0, 0, 0);

  border-bottom: 5px solid #f0f0f0;

  border-left: 7px solid rgba(0, 0, 0, 0);

  transform: rotate(-70deg);

  content: "";
}

.moon.visible .star {
  opacity: 0.8;
}

.star.small {
  transform: scale(0.35) rotate(35deg);

  position: relative;

  top: 50%;

  left: 37.5%;

  opacity: 0;

  transition: all 0.2s ease-in 0.45s;
}

.moon.visible .star.small {
  opacity: 0.7;

  transform: scale(0.45) rotate(35deg);
}

.dark-mode-div {
  position: fixed;
  z-index: 100;
  left: 20px;
  bottom: -20px;
  height: 90px;
  width: 40px;
  color: var(--text-color);
}
