.cards {
  margin: 30vh auto 50px auto;
  padding-top: 100px;
  max-width: 2000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 50px;
  grid-column: auto;
}

/* Three media queries to make 2 or 1 columns in the cards grid based on device width */
@media screen and (max-width: 1600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* if device width is less than 600, make cards grid have 1 col */
@media screen and (max-width: 750px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  height: 600px;
  border-radius: 1rem;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover {
  opacity: 90%;
}

.card-gradient {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--gradient-color-start) 0%, var(--gradient-color-end) 95%);
  z-index: 2;


}

.card-image {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-text {
  position: absolute;
  bottom: 0;
  line-height: 1.5;
  padding: 15px;
  z-index: 3;
  color: var(--card-text-color);
}

.card-text > p:first-of-type {
  margin-top: 0;
}

.card-text > p:first-of-type {
  margin-bottom: 0;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.card-description {
  font-size: 1.3rem;
  font-weight: 350;
}

/* Card specific per project */

#unchain-card {
  --card-text-color: #101010;
  --gradient-color-start: rgba(255, 255, 255, 0);
  --gradient-color-end: rgba(191, 193, 196, 0.7);  
  background-image: url("../../images/project_assets/unchain.gif");
  background-size: 120%;
  background-color: white;
  background-position-y: 10px;
  background-repeat: no-repeat;
}

#repofinder-card {
  --card-text-color: #f0f0f0;
  --gradient-color-start: #6e008c00;
  --gradient-color-end: rgb(55, 61, 66);
  background-image: url("../../images/project_assets/repofinder.png");
  background-position-x: -400px;
  background-position-y: -50px;
}

#twisty-tanks-card {
  --card-text-color: #f0f0f0;
  --gradient-color-start: #00138000;
  --gradient-color-end: rgb(45, 45, 44);
  background-image: url("../../images/project_assets/tanks.gif");
  background-position-x: -400px;
}

#rc-car-card {
  --card-text-color: #f0f0f0;
  --gradient-color-start: #00138000;
  --gradient-color-end: #4f3d33;
  background-image: url("../../images/project_assets/rc_car.jpg");
  background-position: center;
  background-size: cover;
}

#flappy-card {
  --card-text-color: #101010;
  --gradient-color-start: #00138000;
  --gradient-color-end: #7dc9b2;
  background-image: url("../../images/project_assets/flappy.gif");
  background-size: cover;
  background-position-y: -100px;
}
#portfolio-card {
  --card-text-color: #101010;
  --gradient-color-start: rgb(178, 173, 179, 0);
  --gradient-color-end: rgb(178, 173, 179);
  background-image: url("../../images/project_assets/portfolio.png");
  background-size: 1000px;
  background-position-x: -50px;
  background-position-y: -90px;
}
#brick-breaker-card {
  --card-text-color: #101010;
  --gradient-color-start: #00138000;
  --gradient-color-end: rgb(152, 151, 153);
  background-image: url("../../images/project_assets/brick-breaker.gif");
  background-size: cover;
  background-position-x: right;
  background-position-x: -200px;
  
}
#pong-card {
  --card-text-color: #f0f0f0;
  --gradient-color-start: #00138000;
  --gradient-color-end: rgb(3, 3, 3);
  background-image: url("../../images/project_assets/pong.gif");
  background-size: 1000px;
  background-position-y: -100;
  background-repeat: no-repeat;
}
#one-hour-platformer-card {
  --card-text-color: #f0f0f0;
  --gradient-color-start: rgb(35, 57, 49, 0);
  --gradient-color-end: rgb(35, 57, 49);
  background-image: url("../../images/project_assets/platformer.gif");
  background-size: cover;
  background-position-x: -300px;
  background-position-y: -70px ;
}

#calculator-card {
  --card-text-color: #f0f0f0;
  --gradient-color-start: rgb(35, 57, 49, 0);
  --gradient-color-end: rgb(53, 53, 53);
  background-image: url("../../images/project_assets/calc.png");
  background-size: cover;
  background-position-x: -300px;
  background-position-y: center;
}
