@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.light-mode {
  --background-color: #eeeff1;
  --secondary-color: #3f3f41;
  --text-color: #000000;
  --secondary-text-color: #62646d;
  --background-color-alpha: #eeeff1ee;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode {
  --background-color: #303030;
  --secondary-color: #eeeff1;
  --text-color: #ffffff;
  --secondary-text-color: #dfdfdf;
  --background-color-alpha: #3f3f41ee;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html {
  background-color: var(--background-color);
  font-size: 16px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
    overflow-x: hidden;
  }
  .intro-text {
    width: 100%;
    margin: 0px;
  }
}

.content {
  margin: 3rem 4rem;
}
.color-blob-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -5;
}

.color-blob {
  position: absolute;

  left: -50px;
  top: -300px;

  height: 1200px;
  width: auto;

  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.intro-text {
  width: 50%;
  text-align: left;
  margin: 0 auto;
}

#statement {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--text-color);
}

#sub-statement {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 514px) {
  .intro-text {
    width: 100%;
    margin: 0px;
  }
}


